<h3 class="heading heading--sm" id="kontakt">
  <span class="u-color-red u-block">Masz pytanie?</span><strong>Zadzwoń</strong> do mnie lub napisz!
</h3>

<ul class="icon-list icon-list--spread">
  <li class="icon-list__item">
    <svg class="icon-list__item__icon u-color-red">
  <use xlink:href="#icon-telephone"></use>
</svg>
    <a href="tel:+48508207089" class="icon-list__item__inner">
      <span class="u-color-red">+48 508</span>
      <span class="u-color-blue">207</span>
      <span class="u-color-navy">089</span>
    </a>
  </li>
  <li class="icon-list__item u-oneliner">
    <svg class="icon-list__item__icon u-color-red">
  <use xlink:href="#icon-mail"></use>
</svg>
    <a href="mailto:kazimierz.pierzchala@ag.ergohestia.pl" class="icon-list__item__inner">
      <span>
        <span class="u-color-red">kazimierz.pierzchala</span><span class="u-color-blue">@ag</span><span class="u-color-navy">.ergohestia.pl</span>
      </span>
    </a>
  </li>
</ul>