<footer class="footer">
  <div class="container">
    <ul class="footer__logos o-list-bare">
      <li class="footer__logos__item">
        <div class="gray2color" href="#">
          <img src="https://cdn.rawgit.com/thymikee/kp-website/gh-pages/assets/images/logos/ergo-9feef49795.jpg" alt="Ergo Hestia" />
        </div>
      </li>
      <li class="footer__logos__item">
        <div class="gray2color" href="#">
          <img src="https://cdn.rawgit.com/thymikee/kp-website/gh-pages/assets/images/logos/warta-9372379a7e.jpg" alt="Warta" />
        </div>
      </li>
      <li class="footer__logos__item">
        <div class="gray2color" href="#">
          <img src="https://cdn.rawgit.com/thymikee/kp-website/gh-pages/assets/images/logos/hdi-ba3cb53dca.jpg" alt="HDI" />
        </div>
      </li>
      <li class="footer__logos__item">
        <div class="gray2color" href="#">
          <img src="https://cdn.rawgit.com/thymikee/kp-website/gh-pages/assets/images/logos/compensa-21ff63beb7.jpg" alt="Compensa" />
        </div>
      </li>
      <li class="footer__logos__item">
        <div class="gray2color" href="#">
          <img src="https://cdn.rawgit.com/thymikee/kp-website/gh-pages/assets/images/logos/allianz-aeb990b096.jpg" alt="Allianz" />
        </div>
      </li>
      <li class="footer__logos__item">
        <div class="gray2color" href="#">
          <img src="https://cdn.rawgit.com/thymikee/kp-website/gh-pages/assets/images/logos/generali-a5736129ab.jpg" alt="Generali" />
        </div>
      </li>
    </ul>
  </div>

  <div class="colorbar">
    <div class="colorbar__item colorbar__item--high u-bg-red"></div>
    <div class="colorbar__item colorbar__item--high u-bg-navy">
      <a class="colorbar__item-link" href="https://www.facebook.com/ubezpieczenia.pierzchala" target="_blank">Facebook</a>
    </div>
    <div class="colorbar__item colorbar__item--high u-bg-blue"></div>
  </div>
</footer>