<header class="header">
  <div class="container">
    <a href="/" class="header__logo">
      <img src="https://cdn.rawgit.com/thymikee/kp-website/gh-pages/assets/images/logo-708ef72fac.svg" alt="Kazimierz Pierzchała" />
    </a>

    <a class="header__mobile-phone" href="tel:+48508207089">Zadzwoń</a>

    <div class="header__nav">
      <div class="header__contact">
        <a class="header__contact__item" href="mailto:kazpie0925@gmail.com">
          <span class="u-color-navy">kazpie0925</span>
          <span class="u-color-blue">@</span>
          <span class="u-color-red">gmail.com</span>
        </a>
        <a class="header__contact__item" href="tel:+48508207089">
          <span class="u-color-red">+48 508</span>
          <span class="u-color-blue">&nbsp;207</span>
          <span class="u-color-navy">&nbsp;089</span>
        </a>
      </div>
      <ul class="header__navlist">
        <li class="header__navlist__item"><a data-scroll href="/#ubezpieczenia">Ubezpieczenia</a></li>
        <li class="header__navlist__item"><a data-scroll href="/#placowki">Placówki</a></li>
        <li class="header__navlist__item"><a data-scroll href="/#o-mnie">O mnie</a></li>
        <li class="header__navlist__item"><a data-scroll href="/#kontakt"><b>Kontakt</b></a></li>
      </ul>
    </div>
  </div>
</header>