<section class="hero">
  <div class="container">
    <div class="hero__articles">
      <article>
        <h1 class="hero__title">
          <span class="u-color-navy">Ubezpieczenia</span>
          <span class="hero__rotator js-rotator">
            <span class="js-rotator__item">samochodu</span>
          <span class="js-rotator__item">domu</span>
          <span class="js-rotator__item">na życie</span>
          <span class="js-rotator__item">podróży</span>
          <span class="js-rotator__item">biznesu</span>
          <span class="js-rotator__final">najlepiej dopasowane</span>
          </span>
          <small class="u-block u-color-red">Kolbuszowa, Rzeszów</small>
        </h1>
      </article>
    </div>
    <div class="hero__badges">
      <div class="badge u-color-red">
        <svg class="badge__shield">
  <use xlink:href="#icon-shield-full"></use>
</svg>
        <svg class="badge__inner u-color-blue">
  <use xlink:href="#icon-buildings"></use>
</svg>
      </div>
      <div class="badge u-color-blue">
        <svg class="badge__shield">
  <use xlink:href="#icon-shield-full"></use>
</svg>
        <svg class="badge__inner u-color-navy">
  <use xlink:href="#icon-people"></use>
</svg>
      </div>
      <div class="badge u-color-navy">
        <svg class="badge__shield">
  <use xlink:href="#icon-shield-full"></use>
</svg>
        <svg class="badge__inner u-color-red">
  <use xlink:href="#icon-transport"></use>
</svg>
      </div>
    </div>
  </div>
</section>