<section class="hero">
  <div class="container">
    <h1 class="hero__title">
      <span class="u-color-navy">Ubezpieczenia</span>
      <span class="u-block u-color-red">w najlepszym wydaniu</span>
    </h1>
    <div class="hero__badges">
      <div class="badge u-color-red">
        <svg class="badge__shield">
  <use xlink:href="#icon-shield"></use>
</svg>
        <svg class="badge__inner u-color-blue">
  <use xlink:href="#icon-buildings"></use>
</svg>
      </div>
      <div class="badge u-color-blue">
        <svg class="badge__shield">
  <use xlink:href="#icon-shield"></use>
</svg>
        <svg class="badge__inner u-color-navy">
  <use xlink:href="#icon-people"></use>
</svg>
      </div>
      <div class="badge u-color-navy">
        <svg class="badge__shield">
  <use xlink:href="#icon-shield"></use>
</svg>
        <svg class="badge__inner u-color-red">
  <use xlink:href="#icon-transport"></use>
</svg>
      </div>
    </div>
  </div>
</section>