<section class="insurance" id="ubezpieczenia">
  <div class="insurance__container container">
    <div class="insurance__media">
      <img src="https://cdn.rawgit.com/thymikee/kp-website/gh-pages/assets/images/car-c51bb9ff63.jpg" srcset="https://cdn.rawgit.com/thymikee/kp-website/gh-pages/assets/images/car@2x-b24dc73b50.jpg 2x" alt="Ubezpieczenie samochodu" />
      <div class="colorbar__item u-bg-red"></div>
    </div>
    <div class="insurance__content">
      <h2 class="heading heading--lg">Oferujemy</h2>

      <ul class="insurance__list u-color-red">
        <li><a href="/ubezpieczenia-domu-mieszkania">Ubezpieczenia <strong>domu / mieszkania</strong></a></li>
        <li><a href="/ubezpieczenia-samochodu">Ubezpieczenia <strong>samochodu</strong></a></li>
        <li><a href="/ubezpieczenia-podrozy">Ubezpieczenia <strong>podróży</strong></a></li>
        <li><a href="/ubezpieczenia-zdrowia-zycia">Ubezpieczenia <strong>zdrowia i życia</strong></a></li>
        <li><a href="/ubezpieczenia-dla-firm">Ubezpieczenia <strong>dla firm</strong></a></li>
      </ul>
      <div class="insurance__happy">
        <p>
          <strong class="insurance__happy__strong">Ponad</strong>
          <span class="u-color-blue heading--lg"> 5000 </span>
          <span class="u-block">zadowolonych</span>
          <span class="u-block">klientów</span>
        </p>
        <svg class="u-color-red">
  <use xlink:href="#icon-smile"></use>
</svg>
      </div>
    </div>
  </div>
</section>