<section class="insurance" id="ubezpieczenia">
  <div class="insurance__container container">
    <div class="insurance__media">
      <img src="assets/images/car.jpg" alt="" />
      <div class="colorbar__item u-bg-red"></div>
    </div>
    <div class="insurance__content">
      <h2 class="heading heading--lg">Ubezpieczamy</h2>

      <ul class="insurance__list u-color-red">
        <li>Dom / Mieszkanie</li>
        <li>Samochód</li>
        <li>Podróż</li>
        <li>Zdrowie i życie</li>
        <li>Biznes</li>
      </ul>
      <div class="insurance__happy">
        <p>
          <strong class="insurance__happy__strong">Ponad</strong>
          <span class="u-color-blue heading--lg"> 5000 </span>
          <span class="u-block">zadowolonych</span>
          <span class="u-block">klientów</span>
        </p>
        <svg class="u-color-red">
  <use xlink:href="#icon-smile"></use>
</svg>
      </div>
    </div>
  </div>
</section>