<section class="places" id="placowki">
  <div class="container">
    <h2 class="heading heading--lg heading--section">Placówki</h2>

    <ul class="places__list">
      <li class="places__list__item">
        <div class="bureau">
          <h3 class="bureau__title heading heading--md"><span class="u-color-red">1. </span>Kolbuszowa</h3>
          <div class="bureau__image bureau__image--red js-places-trigger" data-places-id="kolbuszowa">
            <img src="https://cdn.rawgit.com/thymikee/kp-website/gh-pages/assets/images/kolbuszowa-e965ff98ba.jpg" srcset="https://cdn.rawgit.com/thymikee/kp-website/gh-pages/assets/images/kolbuszowa@2x-b913410a43.jpg 2x" alt="Biuro Kolbuszowa – Kazimierz Pierzchała"
            />
            <span class="bureau__image__overlay">Zobacz na mapie</span>
          </div>
          <ul class="icon-list">
            <li class="icon-list__item">
              <svg class="icon-list__item__icon u-color-red">
  <use xlink:href="#icon-location"></use>
</svg>
              <div class="icon-list__item__inner u-simple-link js-places-trigger" data-places-id="kolbuszowa">
                ul. Ruczki 10 / 5
                <span class="u-block">36-100 Kolbuszowa</span>
              </div>
            </li>
            <li class="icon-list__item">
              <svg class="icon-list__item__icon u-color-red">
  <use xlink:href="#icon-telephone"></use>
</svg>
              <div class="icon-list__item__inner">
                <a class="u-simple-link" href="tel:172275135">17 22 75 135</a>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="places__list__item">
        <h3 class="bureau__title heading heading--md"><span class="u-color-red">2. </span>Rzeszów</h3>
        <div class="bureau">
          <div class="bureau__image bureau__image--blue js-places-trigger" data-places-id="rzeszow_graniczna">
            <img src="https://cdn.rawgit.com/thymikee/kp-website/gh-pages/assets/images/rzeszow1-c34674b325.jpg" srcset="https://cdn.rawgit.com/thymikee/kp-website/gh-pages/assets/images/rzeszow1@2x-b5aed6dad1.jpg 2x" alt="Biuro Rzeszów Graniczna – Kazimierz Pierzchała"
            />
            <span class="bureau__image__overlay">Zobacz na mapie</span>
          </div>
          <ul class="icon-list">
            <li class="icon-list__item">
              <svg class="icon-list__item__icon u-color-red">
  <use xlink:href="#icon-location"></use>
</svg>
              <div class="icon-list__item__inner u-simple-link js-places-trigger" data-places-id="rzeszow_graniczna">
                ul. Graniczna 4b LU-8
                <span class="u-block">35-326 Rzeszów</span>
              </div>
            </li>
            <li class="icon-list__item">
              <svg class="icon-list__item__icon u-color-red">
  <use xlink:href="#icon-telephone"></use>
</svg>
              <div class="icon-list__item__inner">
                <a class="u-simple-link" href="tel:172306404">17 23 06 404</a>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>

<div class="map" id="places-map">
  <p class="map__message js-google-map-message">Dotknij mapy, aby umożliwić nawigację</p>
  <div class="js-google-map map__placeholder" data-marker="https://cdn.rawgit.com/thymikee/kp-website/gh-pages/assets/images/marker-158cbd29ca.png"></div>
</div>