.heading {
  font-weight: normal;

  &--center {
    text-align: center;
    margin-left: auto;
    margin-right: 0;
  }

  &--lg {
    font-size: 2rem;

    @include bp-medium {
      font-size: 3rem;
    }
  }
}
