<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8" />
  <title>{{ pageName }} - kazimierzpierzchala</title>
  <link rel="stylesheet" property="stylesheet" href="styles/{{ assetPath('main.css') }}" type="text/css" media="screen">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.querySelector('html').classList.remove('no-js');</script>
</head>
<body class="{{ bodyClass }}">
  {% include 'symbol-defs.svg' %}
  <div class="colorbar">
    <div class="colorbar__item u-bg-red"></div>
    <div class="colorbar__item u-bg-navy"></div>
    <div class="colorbar__item u-bg-blue"></div>
  </div>
  <header class="header">
    <div class="container">
      <a href="/" class="header__logo">
        <img src="assets/images/logo.svg" alt="Kazimierz Pierzchała" />
      </a>

      <a class="header__mobile-phone" href="tel:+48602441061">Zadzwoń</a>

      <div class="header__nav">
        <div class="header__contact">
          <a class="header__contact__item" href="mailto:biuro@kolbuszowaubezpieczenia.pl">
            <span class="u-color-navy">biuro</span>
            <span class="u-color-blue">@</span>
            <span class="u-color-red">kolbuszowaubezpieczenia.pl</span>
          </a>
          <a class="header__contact__item" href="tel:+48602441061">
            <span class="u-color-red">+48 602</span>
            <span class="u-color-blue">&nbsp;441</span>
            <span class="u-color-navy">&nbsp;061</span>
          </a>
        </div>
        <ul class="header__navlist">
          <li class="header__navlist__item"><a href="#">Ubezpieczenia</a></li>
          <li class="header__navlist__item"><a href="#">Placówki</a></li>
          <li class="header__navlist__item"><a href="#">O mnie</a></li>
          <li class="header__navlist__item"><a href="#"><b>Kontakt</b></a></li>
        </ul>
      </div>
    </div>
  </header>

  <main>
    {% block content %}
      No content
    {% endblock %}
  </main>

  <footer>
    <div class="colorbar">
      <div class="colorbar__item colorbar__item--high u-bg-red"></div>
      <div class="colorbar__item colorbar__item--high u-bg-navy"></div>
      <div class="colorbar__item colorbar__item--high u-bg-blue"></div>
    </div>
  </footer>
  <script src="scripts/{{ assetPath('bundle.js') }}" async></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBO-71BQKVYtvqPhnRlo3zZ05NUlp62sw4&callback=initMap"
    async defer>
  </script>
</body>
</html>
