<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8" />
  <meta name="keywords" content="ubezpieczenia kolbuszowa biuro ubezpieczeniowe ergo hestia">
  <title>Ubezpieczenia Kazimierz Pierzchała</title>
  <link rel="stylesheet" property="stylesheet" href="styles/{{ assetPath('main.css') }}" type="text/css" media="screen">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.querySelector('html').classList.remove('no-js');</script>
</head>
<body class="{{ bodyClass }}">
  {% include 'symbol-defs.svg' %}
  <div class="colorbar">
    <div class="colorbar__item u-bg-red"></div>
    <div class="colorbar__item u-bg-navy"></div>
    <div class="colorbar__item u-bg-blue"></div>
  </div>

  {% include 'partials/header.twig' %}

  <main>
    {% block content %}
      No content
    {% endblock %}
  </main>

  {% include 'partials/footer.twig' %}
  <script src="scripts/{{ assetPath('bundle.js') }}"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBO-71BQKVYtvqPhnRlo3zZ05NUlp62sw4&callback=initMap"
    async>
  </script>
</body>
</html>
