<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8" >
  <meta name="description" content="Pośrednictwo Ubezpieczeniowe Kazimierz Pierzchała, oddziały w Kolbuszowej i w Rzeszowie. Ubezpieczenia Ergo Hestia, Warta, HDI, Compensa Allianz" >
  <meta name="author" content="Michał Pierzchała <thymikee@gmail.com>" >
  <title>Ubezpieczenia – Kazimierz Pierzchała</title>
  <link rel="stylesheet" property="stylesheet" href="styles/{{ assetPath('main.css') }}" type="text/css" media="screen">
  <link rel="icon" type="image/png" href="assets/images/favicon.png" >
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.querySelector('html').classList.remove('no-js');</script>
</head>
<body class="{{ bodyClass }}">
  {% include 'symbol-defs.svg' %}
  <div class="colorbar">
    <div class="colorbar__item u-bg-red"></div>
    <div class="colorbar__item u-bg-navy"></div>
    <div class="colorbar__item u-bg-blue"></div>
  </div>

  {% include 'partials/header.twig' %}

  <main>
    {% block content %}
      No content
    {% endblock %}
  </main>

  {% include 'partials/footer.twig' %}
  {% include 'partials/scripts.twig' %}
</body>
</html>
