<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8" >
  <title>Dziękujemy – Agencja Ubezpieczeniowa Kazimierz Pierzchała</title>
  <link rel="stylesheet" property="stylesheet" href="styles/{{ assetPath('email.css') }}" type="text/css" media="screen">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <table class="email">
    <tr>
      <td class="container">
        <table class="header">
          <tr>
            <td>
              <a href="http://ubezpieczenia-kolbuszowa.pl" class="header__logo">
                <img src="https://cdn.rawgit.com/thymikee/kp-website/gh-pages/assets/images/logo.jpg" alt="Kazimierz Pierzchała" />
              </a>
            </td>

            <td>
              <a class="header__contact__item" href="tel:+48508207089">
                <span class="u-color-red">+48 508</span>
                <span class="u-color-blue">&nbsp;207</span>
                <span class="u-color-navy">&nbsp;089</span>
              </a>
            </td>
          </tr>
        </table>

        <table>
          <tr>
            <td>
              <p>Dzień dobry</p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>
              <p>
                Jakość usług jest dla nas bardzo ważna, dlatego, w miarę możliwości, prosimy o pozostawienie opinii na <a href="https://www.facebook.com/ubezpieczenia.pierzchala/reviews/">Facebooku</a> lub w <a href="https://www.google.pl/search?q=ubezpieczenia+kolbuszowa&rflfq=1&rlha=0&rllag=50245822,21778535,305&tbm=lcl&tbs=lf:1,lf_ui:2&rlfi=hd:;si:12693706517196395504">Google</a>.
              </p>
              <p>Z wyrazami szacunku,</p>
              <p>Joanna Wit</p>
              <p>tel. 17 22 75 135</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table class="colorbar colorbar--bottom">
          <tr>
            <td class="colorbar__item u-bg-red"></td>
            <td class="colorbar__item u-bg-navy"></td>
            <td class="colorbar__item u-bg-blue"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
