{% extends "base.twig" %}
{% set pageName = 'Landing' %}

{% block content %}
  <section class="hero">
    <div class="container">
      <h1 class="hero__title">
        <span class="u-color-navy">Ubezpieczenia</span>
        <span class="u-block u-color-red">w najlepszym wydaniu</span>
      </h1>
      <div class="hero__badges">
        <div class="badge u-color-red">
          {% include 'svg-icon.twig' with { class: 'badge__shield', name: 'shield' } %}
          {% include 'svg-icon.twig' with { class: 'badge__inner u-color-blue', name: 'buildings' } %}
        </div>
        <div class="badge u-color-blue">
          {% include 'svg-icon.twig' with { class: 'badge__shield', name: 'shield' } %}
          {% include 'svg-icon.twig' with { class: 'badge__inner u-color-navy', name: 'people' } %}
        </div>
        <div class="badge u-color-navy">
          {% include 'svg-icon.twig' with { class: 'badge__shield', name: 'shield' } %}
          {% include 'svg-icon.twig' with { class: 'badge__inner u-color-red', name: 'transport' } %}
        </div>
      </div>
    </div>
  </section>

  <div class="dots">
    <span class="dots__item u-bg-red"></span>
    <span class="dots__item u-bg-blue"></span>
    <span class="dots__item u-bg-navy"></span>
  </div>

  <section class="insurance">
    <div class="insurance__container container">
      <div class="insurance__media">
        <img src="assets/images/car.jpg" alt="" />
        <div class="colorbar__item u-bg-red"></div>
      </div>
      <div class="insurance__content">
        <h2 class="heading heading--lg">Ubezpieczamy</h2>

        <ul class="insurance__list u-color-red">
          <li>Dom / Mieszkanie</li>
          <li>Samochód</li>
          <li>Podróż</li>
          <li>Zdrowie i życie</li>
          <li>Bieznes</li>
        </ul>
        <div class="insurance__happy">
          <p>
            <strong class="insurance__happy__strong">Ponad</strong>
            <span class="u-color-blue heading--lg"> 5000 </span>
            <span class="u-block">zadowolonych</span>
            <span class="u-block">klientów</span>
          </p>
          {% include 'svg-icon.twig' with { class: 'u-color-red', name: 'smile' } %}
        </div>
      </div>
    </div>
  </section>

  <section class="places">
    <div class="container">
      <h2 class="heading heading--lg heading--section">Placówki</h2>

      <ul class="places__list">
        <li class="places__list__item">
          <div class="bureau">
            <h3 class="bureau__title heading heading--md"><span class="u-color-red">1. </span>Kolbuszowa</h3>
            <div class="bureau__image bureau__image--red">
              <img src="assets/images/kolbuszowa.jpg" alt="" />
            </div>
            <ul class="icon-list">
              <li class="icon-list__item">
                {% include 'svg-icon.twig' with { class: 'icon-list__item__icon u-color-red', name: 'location' } %}
                <div class="icon-list__item__inner">
                  ul. Ruczki 10 / 5
                  <span class="u-block">36-100 Kolbuszowa</span>
                </div>
              </li>
              <li class="icon-list__item">
                {% include 'svg-icon.twig' with { class: 'icon-list__item__icon u-color-red', name: 'telephone' } %}
                <div class="icon-list__item__inner">
                  508 207 089
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="places__list__item">
          <h3 class="bureau__title heading heading--md"><span class="u-color-red">2. </span>Rzeszów</h3>
          <div class="bureau">
            <div class="bureau__image bureau__image--blue">
              <img src="assets/images/rzeszow1.jpg" alt="" />
            </div>
            <ul class="icon-list">
              <li class="icon-list__item">
                {% include 'svg-icon.twig' with { class: 'icon-list__item__icon u-color-red', name: 'location' } %}
                <div class="icon-list__item__inner">
                  ul. Graniczna 4b LU-8
                  <span class="u-block">35-326 Rzeszów</span>
                </div>
              </li>
              <li class="icon-list__item">
                {% include 'svg-icon.twig' with { class: 'icon-list__item__icon u-color-red', name: 'telephone' } %}
                <div class="icon-list__item__inner">
                  17 227 51 35
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="places__list__item">
          <h3 class="bureau__title heading heading--md"><span class="u-color-red">3. </span>Rzeszów</h3>
          <div class="bureau">
            <div class="bureau__image bureau__image--navy">
              <img src="assets/images/rzeszow2.jpg" alt="" />
            </div>
            <ul class="icon-list">
              <li class="icon-list__item">
                {% include 'svg-icon.twig' with { class: 'icon-list__item__icon u-color-red', name: 'location' } %}
                <div class="icon-list__item__inner">
                  ul. Hetmańska 120
                  <span class="u-block">35-326 Rzeszów</span>
                </div>
              </li>
              <li class="icon-list__item">
                {% include 'svg-icon.twig' with { class: 'icon-list__item__icon u-color-red', name: 'telephone' } %}
                <div class="icon-list__item__inner">
                  17 227 51 35
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <div class="map"></div>

  <section class="about">
    <div class="about__container container">
      <div class="two-col">
        <div class="two-col__column">
          <div class="about__pic">
            <div class="about__pic__colorbar--top colorbar__item u-bg-red"></div>
            <img src="//placehold.it/341x255" alt="" />
            <div class="about__pic__colorbar--bottom-last colorbar__item u-bg-blue"></div>
            <div class="about__pic__colorbar--bottom colorbar__item u-bg-navy"></div>
          </div>
          <blockquote class="blockquote">
            <p class="blockquote__copy">Moi klienci wiedzą, ze w razie szkody, mogą na mnie liczyć. Służę poradą i doradzam praktycznie.</p>
            <footer>
              <cite class="blockquote__cite">Kazimierz Pierzchała</cite>
            </footer>
          </blockquote>
        </div>
        <div class="two-col__column">
          <h2 class="heading heading--lg">O mnie</h2>
          <h3 class="heading heading--md u-color-red about__subheading">Specjalizuję się w ubezpieczeniach już ponad 15 lat. </h3>
          <div class="about__copy">
            <p>
              Dzięki wieloletniemu doświadczeniu w <strong>branży ubezpieczeń</strong>, swoim klientom doradzam najlepsze rozwiązania dostosowane do ich potrzeb i budżetu.
            </p>
            <p>
              Prowadzę <b>biura ubezpieczeniowe w Kolbuszowej i w Rzeszowie</b>. Działam i operuję na terenie całego podkarpacia.
            </p>
            <p>
              Wybierając moją ofertę ubezpieczeń zyskujesz coś więcej, niż umowę. Masz pewność, że <b>otrzymasz profesjonalną pomoc i wsparcie</b>.
            </p>
          </div>

          <h3 class="heading heading--sm"><span class="u-color-red u-block">Masz pytanie?</span><strong>Zadzwoń</strong> do mnie lub napisz!</h3>

          <ul class="icon-list icon-list--spread">
            <li class="icon-list__item">
              {% include 'svg-icon.twig' with { class: 'icon-list__item__icon u-color-red', name: 'telephone' } %}
              <a href="tel:+48602441061" class="icon-list__item__inner">
                <span class="u-color-red">+48 602</span>
                <span class="u-color-blue">441</span>
                <span class="u-color-navy">061</span>
              </a>
            </li>
            <li class="icon-list__item u-oneliner">
              {% include 'svg-icon.twig' with { class: 'icon-list__item__icon u-color-red', name: 'mail' } %}
              <a href="mailto:kazimierz.pierzchala@ag.ergohestia.pl" class="icon-list__item__inner">
                <span>
                  <span class="u-color-red">kazimierz.pierzchala</span><span class="u-color-blue">@ag</span><span class="u-color-navy">.ergohestia.pl</span>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <div class="dots">
    <span class="dots__item u-bg-red"></span>
    <span class="dots__item u-bg-blue"></span>
    <span class="dots__item u-bg-navy"></span>
  </div>
{% endblock %}
