{% extends "base.twig" %}
{% set pageName = 'Landing' %}

{% block content %}
  <section class="hero">
    <div class="container">
      <h1 class="hero__title">
        <span class="u-color-navy">Ubezpieczenia</span>
        <span class="u-block u-color-red">w najlepszym wydaniu</span>
      </h1>
      <div class="hero__badges">
        <div class="badge u-color-red">
          {% include 'svg-icon.twig' with { class: 'badge__shield', name: 'shield' } %}
          {% include 'svg-icon.twig' with { class: 'badge__inner u-color-blue', name: 'buildings' } %}
        </div>
        <div class="badge u-color-blue">
          {% include 'svg-icon.twig' with { class: 'badge__shield', name: 'shield' } %}
          {% include 'svg-icon.twig' with { class: 'badge__inner u-color-navy', name: 'people' } %}
        </div>
        <div class="badge u-color-navy">
          {% include 'svg-icon.twig' with { class: 'badge__shield', name: 'shield' } %}
          {% include 'svg-icon.twig' with { class: 'badge__inner u-color-red', name: 'transport' } %}
        </div>
      </div>
    </div>
  </section>

  <div class="dots">
    <span class="dots__item u-bg-red"></span>
    <span class="dots__item u-bg-blue"></span>
    <span class="dots__item u-bg-navy"></span>
  </div>

  <section>
    <h2 class="heading heading--lg heading--center">Ubezpieczamy</h2>
    <div class="">
      <div class="">
        <img src="assets/images/car.jpg" alt="" />
        <div class="colorbar__item u-bg-red"></div>
      </div>
      <ul class="u-color-red">
        <li>Dom/Mieszkanie</li>
        <li>Samochód</li>
        <li>Podróż</li>
        <li>Zdrowie i życie</li>
        <li>Bieznes</li>
      </ul>
      <div class="">
        <p>
          Ponad <span class="u-color-blue heading--lg">5000</span>
          <span>zadowolonych klientów</span>
        </p>
        {% include 'svg-icon.twig' with { class: 'u-color-red', name: 'smile' } %}
      </div>
    </div>
  </section>

  <section>
    <h2 class="heading heading--lg heading--center">Placówki</h2>
  </section>
{% endblock %}
