{% extends "base.twig" %}
{% set pageName = 'Landing' %}

{% block content %}
  <section class="hero">
    <div class="container">
      <h1 class="hero__title">
        <span class="u-color-navy">Ubezpieczenia</span>
        <span class="u-block u-color-red">w najlepszym wydaniu</span>
      </h1>
      <div class="hero__badges">
        <div class="badge u-color-red">
          <i class="badge__inner u-color-blue icon-house"></i>
        </div>
        <div class="badge u-color-blue">
          <i class="badge__inner u-color-navy icon-woman"></i>
        </div>
        <div class="badge u-color-navy">
          <i class="badge__inner u-color-red icon-car"></i>
        </div>
      </div>
    </div>
  </section>
  <div class="dots">
    <span class="dots__item u-bg-red"></span>
    <span class="dots__item u-bg-blue"></span>
    <span class="dots__item u-bg-navy"></span>
  </div>
  <div class="">
    <img src="assets/images/car.jpg" alt="" />
  </div>
{% endblock %}

{% block aside %}
  <p>Sidebar</p>
{% endblock %}
