{% extends "base.twig" %}
{% set pageName = 'Landing' %}

{% block content %}
  <section class="hero">
    <div class="container">
      <h1 class="hero__title">
        <span class="u-color-navy">Ubezpieczenia</span>
        <span class="u-block u-color-red">w najlepszym wydaniu</span>
      </h1>
      <div class="hero__badges">
        <div class="badge u-color-red">
          {% include 'svg-icon.twig' with { class: 'badge__shield', name: 'shield' } %}
          {% include 'svg-icon.twig' with { class: 'badge__inner u-color-blue', name: 'buildings' } %}
        </div>
        <div class="badge u-color-blue">
          {% include 'svg-icon.twig' with { class: 'badge__shield', name: 'shield' } %}
          {% include 'svg-icon.twig' with { class: 'badge__inner u-color-navy', name: 'people' } %}
        </div>
        <div class="badge u-color-navy">
          {% include 'svg-icon.twig' with { class: 'badge__shield', name: 'shield' } %}
          {% include 'svg-icon.twig' with { class: 'badge__inner u-color-red', name: 'transport' } %}
        </div>
      </div>
    </div>
  </section>

  <div class="dots">
    <span class="dots__item u-bg-red"></span>
    <span class="dots__item u-bg-blue"></span>
    <span class="dots__item u-bg-navy"></span>
  </div>

  <section class="insurance">
    <div class="insurance__container container">
      <div class="insurance__media">
        <img src="assets/images/car.jpg" alt="" />
        <div class="colorbar__item u-bg-red"></div>
      </div>
      <div class="insurance__content">
        <h2 class="heading heading--lg">Ubezpieczamy</h2>

        <ul class="insurance__list u-color-red">
          <li>Dom / Mieszkanie</li>
          <li>Samochód</li>
          <li>Podróż</li>
          <li>Zdrowie i życie</li>
          <li>Bieznes</li>
        </ul>
        <div class="insurance__happy">
          <p>
            <strong class="insurance__happy__strong">Ponad</strong>
            <span class="u-color-blue heading--lg"> 5000 </span>
            <span class="u-block">zadowolonych</span>
            <span class="u-block">klientów</span>
          </p>
          {% include 'svg-icon.twig' with { class: 'u-color-red', name: 'smile' } %}
        </div>
      </div>
    </div>
  </section>

  <section class="places">
    <div class="container">
      <h2 class="heading heading--lg heading--section">Placówki</h2>

      <ul class="places__list">
        <li class="places__list__item">
          <div class="bureau">
            <h3 class="bureau__title heading heading--md"><span class="u-color-red">1. </span>Kolbuszowa</h3>
            <div class="bureau__image bureau__image--red">
              <img src="assets/images/kolbuszowa.jpg" alt="" />
            </div>
            <ul class="bureau__contact">
              <li class="bureau__contact__item">
                {% include 'svg-icon.twig' with { class: 'bureau__contact__icon u-color-red', name: 'location' } %}
                <div class="bureau__contact__inner">
                  ul. Ruczki 10 /5
                  <span class="u-block">36-100 Kolbuszowa</span>
                </div>
              </li>
              <li class="bureau__contact__item">
                {% include 'svg-icon.twig' with { class: 'bureau__contact__icon u-color-red', name: 'telephone' } %}
                <div class="bureau__contact__inner">
                  508 207 089
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="places__list__item">
          <h3 class="bureau__title heading heading--md"><span class="u-color-red">2. </span>Rzeszów</h3>
          <div class="bureau">
            <div class="bureau__image bureau__image--blue">
              <img src="assets/images/rzeszow1.jpg" alt="" />
            </div>
            <ul class="bureau__contact">
              <li class="bureau__contact__item">
                {% include 'svg-icon.twig' with { class: 'bureau__contact__icon u-color-red', name: 'location' } %}
                <div class="bureau__contact__inner">
                  ul. Graniczna 4b LU-8
                  <span class="u-block">35-326 Rzeszów</span>
                </div>
              </li>
              <li class="bureau__contact__item">
                {% include 'svg-icon.twig' with { class: 'bureau__contact__icon u-color-red', name: 'telephone' } %}
                <div class="bureau__contact__inner">
                  17 227 51 35
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="places__list__item">
          <h3 class="bureau__title heading heading--md"><span class="u-color-red">3. </span>Rzeszów</h3>
          <div class="bureau">
            <div class="bureau__image bureau__image--navy">
              <img src="assets/images/rzeszow2.jpg" alt="" />
            </div>
            <ul class="bureau__contact">
              <li class="bureau__contact__item">
                {% include 'svg-icon.twig' with { class: 'bureau__contact__icon u-color-red', name: 'location' } %}
                <div class="bureau__contact__inner">
                  ul. Hetmańska 120
                  <span class="u-block">35-326 Rzeszów</span>
                </div>
              </li>
              <li class="bureau__contact__item">
                {% include 'svg-icon.twig' with { class: 'bureau__contact__icon u-color-red', name: 'telephone' } %}
                <div class="bureau__contact__inner">
                  17 227 51 35
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <div class="map">

    </div>
  </section>
{% endblock %}
