{% extends "base.twig" %}
{% set pageName = 'Landing' %}

{% block content %}
  <section class="hero">
    <div class="container">
      <h1 class="hero__title">
        <span class="u-color-navy">Ubezpieczenia</span>
        <span class="u-block u-color-red">w najlepszym wydaniu</span>
      </h1>
      <div class="hero__badges">
        <div class="badge u-color-red">
          {% include 'svg-icon.twig' with { class: 'badge__shield', name: 'shield' } %}
          {% include 'svg-icon.twig' with { class: 'badge__inner u-color-blue', name: 'buildings' } %}
        </div>
        <div class="badge u-color-blue">
          {% include 'svg-icon.twig' with { class: 'badge__shield', name: 'shield' } %}
          {% include 'svg-icon.twig' with { class: 'badge__inner u-color-navy', name: 'people' } %}
        </div>
        <div class="badge u-color-navy">
          {% include 'svg-icon.twig' with { class: 'badge__shield', name: 'shield' } %}
          {% include 'svg-icon.twig' with { class: 'badge__inner u-color-red', name: 'transport' } %}
        </div>
      </div>
    </div>
  </section>

  <div class="dots">
    <span class="dots__item u-bg-red"></span>
    <span class="dots__item u-bg-blue"></span>
    <span class="dots__item u-bg-navy"></span>
  </div>

  <section class="insurance">
    <div class="insurance__container container">
      <div class="insurance__media">
        <img src="assets/images/car.jpg" alt="" />
        <div class="colorbar__item u-bg-red"></div>
      </div>
      <div class="insurance__content">
        <h2 class="heading heading--lg">Ubezpieczamy</h2>

        <ul class="insurance__list u-color-red">
          <li>Dom / Mieszkanie</li>
          <li>Samochód</li>
          <li>Podróż</li>
          <li>Zdrowie i życie</li>
          <li>Bieznes</li>
        </ul>
        <div class="insurance__happy">
          <p>
            <strong class="insurance__happy__strong">Ponad</strong>
            <span class="u-color-blue heading--lg"> 5000 </span>
            <span class="u-block">zadowolonych</span>
            <span class="u-block">klientów</span>
          </p>
          {% include 'svg-icon.twig' with { class: 'u-color-red', name: 'smile' } %}
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2 class="heading heading--lg heading--section">Placówki</h2>
    </div>
  </section>
{% endblock %}
