{% extends "base.twig" %}
{% set pageName = 'Landing' %}

{% block header %}
  <header class="header">
    <div class="container">
      <a href="/" class="header__logo">
        <img src="assets/images/logo.svg" alt="Kazimierz Pierzchała" />
      </a>

      <div class="header__nav">
        <div class="header__contact">
          <a class="header__contact__item" href="mailto:biuro@kolbuszowaubezpieczenia.pl">
            <span class="u-color-navy">biuro</span>
            <span class="u-color-blue">@</span>
            <span class="u-color-red">kolbuszowaubezpieczenia.pl</span>
          </a>
          <a class="header__contact__item" href="tel:+48602441061">
            <span class="u-color-red">+48 602</span>
            <span class="u-color-blue">441</span>
            <span class="u-color-navy">061</span>
          </a>
        </div>
        <ul class="header__navlist">
          <li class="header__navlist__item"><a href="#">Ubezpieczenia</a></li>
          <li class="header__navlist__item"><a href="#">Placówki</a></li>
          <li class="header__navlist__item"><a href="#">O mnie</a></li>
          <li class="header__navlist__item"><a href="#"><b>Kontakt</b></a></li>
        </ul>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  <h1>Hello <span class="js-greeting"></span></h1>
{% endblock %}

{% block aside %}
  <p>Sidebar</p>
{% endblock %}
