{% extends "base.twig" %}
{% set pageName = 'Ubezpieczenia Domu / Mieszkania – Agencja Ubezpieczeniowa Kazimierz Pierzchała' %}
{% set pageDescription = "Ubezpieczenia domu, mieszkania, budynków, mienia. Przedstawiamy oferty towarzystw: Ergo Hestia, Warta, HDI, Compensa, Allianz, Generali" %}
{% set fbUrl = pageUrl ~ "/ubezpieczenia-domu-mieszkania" %}
{% set fbImage = assetsUrl ~ "/" ~ assetPath('images/dom_1200x630.jpg') %}
{% set fbType = "article" %}
{% set fbTitle = pageName %}
{% set fbDescription = pageDescription %}

{% block content %}
  <article class="article-default container">
    <div class="two-col">
      <aside class="two-col__column">
        <img
          class="article-default__side-media"
          src="{{assetsUrl}}/{{ assetPath('images/dom.jpg') }}"
          srcset="{{assetsUrl}}/{{ assetPath('images/dom@2x.jpg') }} 2x"
          alt="Ubezpieczenie samochodu" />
      </aside>
      <div class="two-col__column">
        <h1 class="heading heading--lg">Ubezpieczenia domu / mieszkania</h1>
        {% include "partials/dots.twig" %}
        <div class="entry-content">
          <p>
            Ubezpieczenia majątkowe mienia chronią interes ubezpieczeniowy związany z dobrami materialnymi i prawami albo zobowiązaniami majątkowymi. Oferujemy:
          </p>

          <ul>
            <li>Ubezpieczenia domów i mieszkań</li>
            <li>Ubezpieczenia budynków i budowli</li>
            <li>Ubezpieczenia mienia od ognia i innych zdarzeń losowych</li>
            <li>Ubezpieczenia mienia od kradzieży z włamaniem i rabunku oraz wandalizmu</li>
            <li>Ubezpieczenia mienia od wszystkich ryzyk</li>
            <li>Ubezpieczenia szyb od stłuczenia</li>
            <li>Ubezpieczenia domków letniskowych</li>
          </ul>

          <a href="/">
            <small>&#10094; &nbsp;
              <span class="u-color-blue">Powrót do strony głównej</span>
            </small>
          </a>
        </div>
      </div>
    </div>
  </article>
  <section class="footer-secondary">
    <div class="container">
      <div class="two-col two-col--v-center">
        <div class="two-col__column">
          {% include 'partials/insurance-happy.twig' %}
        </div>
        <div class="two-col__column">
          {% include 'partials/ask-question.twig' %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
