{% extends "base.twig" %}
{% set pageName = 'Ubezpieczenia dla firm – Agencja Ubezpieczeniowa Kazimierz Pierzchała – Kolbuszowa' %}
{% set pageDescription = "Ubezpieczenia dla firm i biznesu. Przedstawiamy oferty towarzystw: Ergo Hestia, Warta, HDI, Compensa, Allianz, Generali" %}
{% set fbUrl = pageUrl ~ "/ubezpieczenia-dla-firm" %}
{% set fbImage = assetsUrl ~ "/" ~ assetPath('images/biznes_1200x630.jpg') %}
{% set fbType = "article" %}
{% set fbTitle = pageName %}
{% set fbDescription = pageDescription %}

{% block content %}
  <article class="article-default container">
    <div class="two-col">
      <aside class="two-col__column">
        <img
          class="article-default__side-media"
          src="{{assetsUrl}}/{{ assetPath('images/biznes.jpg') }}"
          srcset="{{assetsUrl}}/{{ assetPath('images/biznes@2x.jpg') }} 2x"
          alt="Biurko" />
        <div class="colorbar__item u-bg-blue u-hide@medium"></div>
      </aside>
      <div class="two-col__column">
        <h1 class="heading heading--lg">Ubezpieczenia Dla Firm</h1>
        {% include "partials/dots.twig" %}
        <div class="entry-content">
          <p>
            Rozwiązanie dla wszystkich myślących poważnie o swoim biznesie. Idealne dla małych i średnich firm. Kompleksowa ochrona przedsiębiorców i pracowników przed niespodziewanymi zdarzeniami. Oferujemy m.in:
          </p>

          <ul>
            <li>OC z tytułu prowadzenia działalności gospodarczej</li>
            <li>OC z tytułu wykonywania zawodu</li>
            <li>OC z tytułu posiadanego mienia</li>
            <li>OC przewoźnika i spedytora w kraju i za granicą</li>
            <li>Ubezpieczenia budynków i budowli</li>
            <li>Ubezpieczenia ryzyk budowlano-montażowych</li>
            <li>Ubezpieczenia maszyn i urządzeń</li>
            <li>Ubezpieczenia sprzętu elektronicznego</li>
            <li>Ubezpieczenia komunikacyjne dla firm</li>
            <li>Ubezpieczenia towarów w transporcie krajowym i zagranicznym (cargo)</li>
            <li>Ubezpieczenia pakietowe</li>
          </ul>

          <a href="/">
            <small>&#10094; &nbsp;
              <span class="u-color-blue">Powrót do strony głównej</span>
            </small>
          </a>
        </div>
      </div>
    </div>
  </article>
  <section class="footer-secondary">
    <div class="container">
      <div class="two-col two-col--v-center">
        <div class="two-col__column">
          {% include 'partials/insurance-happy.twig' %}
        </div>
        <div class="two-col__column">
          {% include 'partials/ask-question.twig' %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
