{% extends "base.twig" %}
{% set pageName = 'Ubezpieczenia Podróży – Agencja Ubezpieczeniowa Kazimierz Pierzchała' %}
{% set pageDescription = "Ubezpieczenia podróży. Przedstawiamy oferty towarzystw: Ergo Hestia, Warta, HDI, Compensa, Allianz, Generali" %}
{% set fbUrl = pageUrl ~ "/ubezpieczenia-podrozy" %}
{% set fbImage = assetsUrl ~ "/" ~ assetPath('images/podroze_1200x630.jpg') %}
{% set fbType = "article" %}
{% set fbTitle = pageName %}
{% set fbDescription = pageDescription %}

{% block content %}
  <article class="article-default container">
    <div class="two-col">
      <aside class="two-col__column">
        <img
          class="article-default__side-media"
          src="{{assetsUrl}}/{{ assetPath('images/podroze.jpg') }}"
          srcset="{{assetsUrl}}/{{ assetPath('images/podroze@2x.jpg') }} 2x"
          alt="Ubezpieczenie samochodu" />
      </aside>
      <div class="two-col__column">
        <h1 class="heading heading--lg">Ubezpieczenia podróży</h1>
        {% include "partials/dots.twig" %}
        <div class="entry-content">
          <p>
            Wyjazd na wakacje czy do pracy? Pomyśl o zabezpieczeniu dla siebie i bliskich w razie niespodziewanych sytuacji w podróży, np. pobytu w szpitalu, kradzieży dokumentów, opóźnienia wyjazdu czy akcji ratunkowej. W ramach ubezpieczenia podróży oferujemy:
          </p>

          <ul>
            <li>Koszty Leczenia i Assistance</li>
            <li>Następstwa Nieszczęśliwych Wypadków</li>
            <li>Odpowiedzialność Cywilna w Życiu Prywatnym</li>
            <li>Rezygnacja z Podróży</li>
            <li>Choroba przewlekła (nadciśnienie itp.)</li>
            <li>Sprzęt Sportowy (kradzież, zniszczenie)</li>
            <li>Bagaż (telefon, dokumenty, instrumenty itp.)</li>
            <li>Praca (fizyczna, umysłowa)</li>
            <li>Sport (ekstremalny, wyczynowy)</li>
          </ul>

          <a href="/">
            <small>&#10094; &nbsp;
              <span class="u-color-blue">Powrót do strony głównej</span>
            </small>
          </a>
        </div>
      </div>
    </div>
  </article>
  <section class="footer-secondary">
    <div class="container">
      <div class="two-col two-col--v-center">
        <div class="two-col__column">
          {% include 'partials/insurance-happy.twig' %}
        </div>
        <div class="two-col__column">
          {% include 'partials/ask-question.twig' %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
