<section class="about" id="o-mnie">
  <div class="about__container container">
    <div class="two-col">
      <div class="two-col__column">
        <div class="about__pic">
          <div class="about__pic__colorbar--top colorbar__item u-bg-red"></div>
          <img src="//placehold.it/341x255" alt="" />
          <div class="about__pic__colorbar--bottom-last colorbar__item u-bg-blue"></div>
          <div class="about__pic__colorbar--bottom colorbar__item u-bg-navy"></div>
        </div>
        <blockquote class="blockquote">
          <p class="blockquote__copy">Moi klienci wiedzą, ze w razie szkody, mogą na mnie liczyć. Służę poradą i doradzam praktycznie.</p>
          <footer>
            <cite class="blockquote__cite">Kazimierz Pierzchała</cite>
          </footer>
        </blockquote>
      </div>
      <div class="two-col__column">
        <h2 class="heading heading--lg">O mnie</h2>
        <h3 class="heading heading--md u-color-red about__subheading">Specjalizuję się w ubezpieczeniach już ponad 15 lat. </h3>
        <div class="about__copy">
          <p>
            Dzięki wieloletniemu doświadczeniu w <strong>branży ubezpieczeń</strong>, swoim klientom doradzam najlepsze rozwiązania dostosowane do ich potrzeb i budżetu.
          </p>
          <p>
            Prowadzę <b>biura ubezpieczeniowe w Kolbuszowej i w Rzeszowie</b>. Działam i operuję na terenie całego podkarpacia.
          </p>
          <p>
            Wybierając moją ofertę ubezpieczeń zyskujesz coś więcej, niż umowę. Masz pewność, że <b>otrzymasz profesjonalną pomoc i wsparcie</b>.
          </p>
        </div>

        <h3 class="heading heading--sm" id="kontakt">
          <span class="u-color-red u-block">Masz pytanie?</span><strong>Zadzwoń</strong> do mnie lub napisz!
        </h3>

        <ul class="icon-list icon-list--spread">
          <li class="icon-list__item">
            {% include 'svg-icon.twig' with { class: 'icon-list__item__icon u-color-red', name: 'telephone' } %}
            <a href="tel:+48508207089" class="icon-list__item__inner">
              <span class="u-color-red">+48 508</span>
              <span class="u-color-blue">207</span>
              <span class="u-color-navy">089</span>
            </a>
          </li>
          <li class="icon-list__item u-oneliner">
            {% include 'svg-icon.twig' with { class: 'icon-list__item__icon u-color-red', name: 'mail' } %}
            <a href="mailto:kazimierz.pierzchala@ag.ergohestia.pl" class="icon-list__item__inner">
              <span>
                <span class="u-color-red">kazimierz.pierzchala</span><span class="u-color-blue">@ag</span><span class="u-color-navy">.ergohestia.pl</span>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
