<section class="about" id="o-mnie">
  <div class="about__container container">
    <div class="two-col">
      <div class="two-col__column">
        <div class="about__pic">
          <div class="about__pic__colorbar--top colorbar__item u-bg-red"></div>
          <img src="assets/images/kazimierz_pierzchala.jpg" alt="Kazimierz Pierzchała" />
          <div class="about__pic__colorbar--bottom-last colorbar__item u-bg-blue"></div>
          <div class="about__pic__colorbar--bottom colorbar__item u-bg-navy"></div>
        </div>
        <blockquote class="blockquote">
          <p class="blockquote__copy">Moi klienci wiedzą, że w razie szkody, mogą na mnie liczyć. Służę poradą i doradzam praktycznie.</p>
          <footer>
            <cite class="blockquote__cite">Kazimierz Pierzchała</cite>
          </footer>
        </blockquote>
      </div>
      <div class="two-col__column">
        <h2 class="heading heading--lg">O mnie</h2>
        <h3 class="heading heading--md u-color-red about__subheading">Specjalizuję się w ubezpieczeniach już ponad 15 lat. </h3>
        <div class="about__copy">
          <p>
            Dzięki wieloletniemu doświadczeniu w <strong>branży ubezpieczeń</strong>, swoim klientom doradzam najlepsze rozwiązania dostosowane do ich potrzeb i budżetu.
          </p>
          <p>
            Prowadzę <b>biura ubezpieczeniowe w Kolbuszowej i w Rzeszowie</b>. Działam i operuję na terenie całego Podkarpacia oraz w Małopolsce.
          </p>
          <p>
            Wybierając moją ofertę ubezpieczeń zyskujesz coś więcej, niż umowę. Masz pewność, że <b>otrzymasz profesjonalną pomoc i wsparcie</b>.
          </p>
        </div>

        {% include 'ask-question.twig' %}
      </div>
    </div>
  </div>
</section>
