<h3 class="heading heading--sm" id="kontakt">
  <span class="u-color-red u-block">Masz pytanie?</span><strong>Zadzwoń</strong> do mnie lub napisz!
</h3>

<ul class="icon-list icon-list--spread">
  <li class="icon-list__item">
    {% include 'svg-icon.twig' with { class: 'icon-list__item__icon u-color-red', name: 'telephone' } %}
    <a href="tel:+48508207089" class="icon-list__item__inner">
      <span class="u-color-red">+48 508</span>
      <span class="u-color-blue">207</span>
      <span class="u-color-navy">089</span>
    </a>
  </li>
  <li class="icon-list__item u-oneliner">
    {% include 'svg-icon.twig' with { class: 'icon-list__item__icon u-color-red', name: 'mail' } %}
    <a href="mailto:kazpie0925@gmail.com" class="icon-list__item__inner">
      <span>
        <span class="u-color-red">kazpie0925</span><span class="u-color-blue">@</span><span class="u-color-navy">gmail.com</span>
      </span>
    </a>
  </li>
</ul>
