<div class="dots{% if isSeparator == true %} dots--is-separator{% endif %}">
  <span class="dots__item u-bg-red"></span>
  <span class="dots__item u-bg-blue"></span>
  <span class="dots__item u-bg-navy"></span>
</div>
