<footer class="footer">
  <div class="container">
    <ul class="footer__logos o-list-bare">
      <li class="footer__logos__item">
        <a class="gray2color" href="#">
          <img src="assets/images/logos/ergo.jpg" alt="Ergo Hestia" />
        </a>
      </li>
      <li class="footer__logos__item">
        <a class="gray2color" href="#">
          <img src="assets/images/logos/warta.jpg" alt="Warta" />
        </a>
      </li>
      <li class="footer__logos__item">
        <a class="gray2color" href="#">
          <img src="assets/images/logos/hdi.jpg" alt="HDI" />
        </a>
      </li>
      <li class="footer__logos__item">
        <a class="gray2color" href="#">
          <img src="assets/images/logos/compensa.jpg" alt="Compensa" />
        </a>
      </li>
      <li class="footer__logos__item">
        <a class="gray2color" href="#">
          <img src="assets/images/logos/allianz.jpg" alt="Allianz" />
        </a>
      </li>
    </ul>
  </div>

  <div class="colorbar">
    <div class="colorbar__item colorbar__item--high u-bg-red"></div>
    <div class="colorbar__item colorbar__item--high u-bg-navy"></div>
    <div class="colorbar__item colorbar__item--high u-bg-blue"></div>
  </div>
</footer>
