<header class="header">
  <div class="container">
    <a href="/" class="header__logo">
      <img src="assets/images/logo.svg" alt="Kazimierz Pierzchała" />
    </a>

    <a class="header__mobile-phone" href="tel:+48602441061">Zadzwoń</a>

    <div class="header__nav">
      <div class="header__contact">
        <a class="header__contact__item" href="mailto:kazimierz.pierzchala@ag.ergohestia.pl">
          <span class="u-color-navy">kazimierz.pierzchala</span>
          <span class="u-color-blue">@</span>
          <span class="u-color-red">ag.ergohestia.pl</span>
        </a>
        <a class="header__contact__item" href="tel:+48508207089">
          <span class="u-color-red">+48 508</span>
          <span class="u-color-blue">&nbsp;207</span>
          <span class="u-color-navy">&nbsp;089</span>
        </a>
      </div>
      <ul class="header__navlist">
        <li class="header__navlist__item"><a data-scroll href="#ubezpieczenia">Ubezpieczenia</a></li>
        <li class="header__navlist__item"><a data-scroll href="#placowki">Placówki</a></li>
        <li class="header__navlist__item"><a data-scroll href="#o-mnie">O mnie</a></li>
        <li class="header__navlist__item"><a data-scroll href="#kontakt"><b>Kontakt</b></a></li>
      </ul>
    </div>
  </div>
</header>
