<section class="hero">
  <div class="container">
    <div class="hero__articles">
      <article>
        <h1 class="hero__title">
          <span class="u-color-navy">Ubezpieczenia</span>
          <span class="hero__rotator js-rotator">
            <span class="js-rotator__item">samochodu</span>
            <span class="js-rotator__item">domu</span>
            <span class="js-rotator__item">na życie</span>
            <span class="js-rotator__item">podróży</span>
            <span class="js-rotator__item">biznesu</span>
            <span class="js-rotator__final">najlepiej dopasowane</span>
          </span>
          <small class="u-block u-color-red">Kolbuszowa, Rzeszów</small>
        </h1>
      </article>
    </div>
    <div class="hero__badges">
      <div class="badge u-color-red">
        {% include 'svg-icon.twig' with { class: 'badge__shield', name: 'shield-full' } %}
        {% include 'svg-icon.twig' with { class: 'badge__inner u-color-blue', name: 'buildings' } %}
      </div>
      <div class="badge u-color-blue">
        {% include 'svg-icon.twig' with { class: 'badge__shield', name: 'shield-full' } %}
        {% include 'svg-icon.twig' with { class: 'badge__inner u-color-navy', name: 'people' } %}
      </div>
      <div class="badge u-color-navy">
        {% include 'svg-icon.twig' with { class: 'badge__shield', name: 'shield-full' } %}
        {% include 'svg-icon.twig' with { class: 'badge__inner u-color-red', name: 'transport' } %}
      </div>
    </div>
  </div>
</section>
