<section class="hero">
  <div class="container">
    <h1 class="hero__title">
      <span class="u-color-navy">Ubezpieczenia</span>
      <span class="u-block u-color-red">w najlepszym wydaniu</span>
    </h1>
    <div class="hero__badges">
      <div class="badge u-color-red">
        {% include 'svg-icon.twig' with { class: 'badge__shield', name: 'shield-full' } %}
        {% include 'svg-icon.twig' with { class: 'badge__inner u-color-blue', name: 'buildings' } %}
      </div>
      <div class="badge u-color-blue">
        {% include 'svg-icon.twig' with { class: 'badge__shield', name: 'shield-full' } %}
        {% include 'svg-icon.twig' with { class: 'badge__inner u-color-navy', name: 'people' } %}
      </div>
      <div class="badge u-color-navy">
        {% include 'svg-icon.twig' with { class: 'badge__shield', name: 'shield-full' } %}
        {% include 'svg-icon.twig' with { class: 'badge__inner u-color-red', name: 'transport' } %}
      </div>
    </div>
  </div>
</section>
