<div class="insurance__happy">
  <p>
    <strong class="insurance__happy__strong">Ponad</strong>
    <span class="u-color-blue heading--lg"> 5000 </span>
    <span class="u-block">zadowolonych</span>
    <span class="u-block">klientów</span>
  </p>
  {% include 'svg-icon.twig' with { class: 'u-color-red', name: 'smile' } %}
</div>
