<section class="insurance" id="ubezpieczenia">
  <div class="insurance__container container">
    <div class="insurance__media">
      <img
        src="assets/images/car.jpg"
        srcset="assets/images/car.jpg 1x, assets/images/car@2x.jpg 2x"
        alt="Ubezpieczenie samochodu" />
      <div class="colorbar__item u-bg-red"></div>
    </div>
    <div class="insurance__content">
      <h2 class="heading heading--lg">Oferujemy</h2>

      <ul class="insurance__list u-color-red">
        <li>Ubezpieczenia <strong>domu / mieszkania</strong></li>
        <li>Ubezpieczenia <strong>samochodu</strong></li>
        <li>Ubezpieczenia <strong>podróży</strong></li>
        <li>Ubezpieczenia <strong>zdrowia i życia</strong></li>
        <li>Ubezpieczenia <strong>biznesu</strong></li>
      </ul>
      <div class="insurance__happy">
        <p>
          <strong class="insurance__happy__strong">Ponad</strong>
          <span class="u-color-blue heading--lg"> 5000 </span>
          <span class="u-block">zadowolonych</span>
          <span class="u-block">klientów</span>
        </p>
        {% include 'svg-icon.twig' with { class: 'u-color-red', name: 'smile' } %}
      </div>
    </div>
  </div>
</section>
