// Colors
$color-white: #fff;
$color-black: #000;
$color-light-grey: #ccc;
$color-red: #ff304f;
$color-navy: #0e2f56;
$color-blue: #118df0;

// Text
$color-bg: $color-white;
$color-text: $color-black;

// Links
$color-link: $color-red;

// Borders
$color-border: $color-light-grey;
